# IDE & System Files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Composer
vendor/
composer.lock

# Node
node_modules/
package-lock.json

# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/

# Build files
.sass-cache/
*.css.map
*.js.map